*.user
*.suo
projects/sandbox/vs2017/.vs/PsxSandbox/v15/
*.cache
*.log
tools/BuildTool.ini
psyq\bin\PSYQ.INI
tools/BuildTool/.vs/
tools/BuildTool/bin/
tools/BuildTool/obj/
projects/sandbox/bin/
projects/roller_splat/vs2017/.vs/
projects/roller_splat/bin/
*.CAT
projects/nobori/bin/
projects/nobori/vs2017/.vs/
tools/Mantis/.vs/
tools/Mantis/bin/
tools/Mantis/obj/
tools/Compilers/.vs/
tools/Compilers/build/
tools/Compilers/Shared/.vs/
tools/Compilers/Shared/intermediate/
tools/Compilers/Shared/Debug/
tools/Compilers/Shared/Release/
tools/Compilers/Shared/x64/
tools/Compilers/ModelCompiler/.vs/
tools/Compilers/ModelCompiler/intermediate/
tools/Compilers/ModelCompiler/Debug/
tools/Compilers/ModelCompiler/Release/
tools/Compilers/ModelCompiler/x64/

tools/Compilers/x64/Debug/MaterialCompiler.exe
tools/Compilers/MaterialCompiler/intermediate/
tools/Compilers/x64/
