*.user
*.suo
projects/sandbox/vs2017/.vs/PsxSandbox/v15/
*.cache
*.log
tools/BuildTool.ini
psyq\bin\PSYQ.INI
tools/BuildTool/.vs/
tools/BuildTool/bin/
tools/BuildTool/obj/
projects/sandbox/bin/
projects/roller_splat/vs2017/.vs/
projects/roller_splat/bin/
*.CAT
projects/nobori/bin/
projects/nobori/vs2017/.vs/
